body {
  background-color: #f2f2f2;
  font-family: Gill Sans MT;
}


.container {
  margin-left: 25px; 
}

.linker{
	display: flex;
	flex-direction:column;
}

h1 {
  color: black;
  
}
.links-title::before{
	content: '\2622';
}
img {
  max-width: 100vw;
}

.rotate {
  position: absolute;
 left: 25px;
 margin-top: 35px;
} 

.rotate:hover {
 transform: scaleX(-1);
}
/*div.img {
  display: inline; 
  max-width: 650px;
  padding: 5px;
  margin: 10px 0 5px 0;
  border: 1px solid #ccc;  
}
*/
.gallery {display: grid;}