body {
  background-color: #f2f2f2;
  font-family: Gill Sans MT;
}


.container {
  margin-left: 25px; 
}

.linker{
	display: flex;
}

h1 {
  color: black;
  
}

img {
  max-width: 100vw;
}

.rotate {
  position: absolute;
 left: 25px;
 margin-top: 35px;
} 

.rotate:hover {
 transform: scaleX(-1);
}
