body {
  background-color: #dbdbdb;


}
h1 {
font-family: Gill Sans MT;
}


p {
font-family: Gill Sans MT;
}

li {
font-family: Gill Sans MT;
}

h1 {
  color: black;
  
  }
  img {
  max-width: 60%;
}
}
